<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Número</th>
    <th scope="col">Nome</th>
    <th scope="col">Matrícula</th>
    <th scope="col">Carro</th>
    <th scope="col">Data entrada</th>
    <th scope="col">Data Saída</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of parkAccess">
    <th scope="row">{{ user.number }}</th>
    <td>{{ user.firstname }} {{ user.lastname}}</td>
    <td>{{ user.plate }}</td>
    <td>{{ user.car_brand }} {{ user.car_model }}</td>
    <td>{{ user.date_in}}</td>
    <td>{{ user.date_out}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>