<div class="signupDiv">
    <h1>Registar um utilizador.</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label >Número</label>
            <input type="text" class="form-control" placeholder="Número" formControlName="number" required maxlength="9" minlength="1">
        </div>
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Primeiro nome" formControlName="firstName">
        </div>
        <div class="form-group">
            <label>Apelido</label>
            <input type="text" class="form-control" placeholder="Apelido" formControlName="lastName">
        </div>
        <div class="form-group">
            <label>Matrícula</label>
            <input type="text" class="form-control" placeholder="Matrícula" formControlName="plate" required minLength="6" maxlength="6">
        </div>
        <div class="form-group">
            <label>Marca do veículo</label>
            <input type="text" class="form-control" placeholder="Marca do veículo" formControlName="car_brand">
        </div>
        <div class="form-group">
            <label>Modelo do veículo</label>
            <input type="text" class="form-control" placeholder="Modelo do veículo" formControlName="car_model">
        </div>
        <div class="form-group">
            <label>Tipo de veículo</label>
            <input type="text" class="form-control" placeholder="Tipo de veículo" formControlName="type">
        </div>
          <br>
        <button type="submit" class="btn btn-primary">Registar</button>
    </form>
</div>
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<app-footer></app-footer>