<div>
  <div class="tableDiv">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Nome</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Carro</th>
          <th scope="col">Tipo de veículo</th>
          <th scope="col">Acesso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row"><a  [routerLink]="['/userDetails', user.number]">{{ user.number }}</a></th>
          <td>{{ user.firstname }} {{ user.lastname}}</td>
          <td>{{ user.plate }}</td>
          <td>{{ user.car_brand }} {{ user.car_model }}</td>
          <td>{{ user.type }}</td>
          <td>{{ user.access_park }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>